<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4 text-center"> <i class="bi bi-door-open"> Log In </i> </h2>
      <form>
        
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" id="email" class="form-control" placeholder="your@email.com" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Enter your password" required>
        </div>
        
        <div class="text-center">
          <button type="submit" class="btn btn-primary px-4">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
